@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Akshar', sans-serif;
  letter-spacing: 1px;

}

.body-app {
  display: grid;
  grid-template-columns: 255px 1fr;
  grid-template-rows: calc(100vh - 74px );
}

@media  screen and (max-width: 800px ) {

  .body-app {
    grid-template-columns: 1fr;
    grid-template-rows: auto
  }
  
}

@media screen and (max-height: 800px) {
  .body-app {
    grid-template-columns: 1fr;
    grid-template-rows: auto
  }
  
}