@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Acme', sans-serif;
}

html {
  height: 100%;
}

/* Si la altura del viewport es menor a 900px modificamos el height a auto para que así el formulario esté completanmente dentro del contenedor  */
@media screen and (max-height: 900px) {
  html {
    height: auto;
  }
}

body {
  letter-spacing: 1px;
  height: 100%;
  background-color: rgba(53, 170, 185, .2);
  
}

#root {
  height: 100%;
  
}
.body-app {
  display: grid;
  height: 100%;
  grid-template:
   "header main" 70px
   "sidebar main " 1fr /
   265px
   ;
}

@media screen and (max-width: 1200px) {
  .body-app {
    grid-template:
    "header header" 50px
    "sidebar sidebar " 74px
    "main main" 1fr /
    1fr
   ;
  }
  
}