@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  height: 100%;
}

body {
  font-family: 'Akshar', sans-serif;
  letter-spacing: 1px;
  height: 100%;
  width: inherit;
}

#root {
  height: inherit;
}
.body-app {
  display: grid;
  height: inherit;
  grid-template:
   "header header" 67px
   "sidebar main " 1fr /
   265px
   ;
}

@media screen and (max-width: 960px) {
  .body-app {
    grid-template:
    "header header" 67px
    "sidebar sidebar " 74px
    "main main" 1fr /
    1fr
   ;
  }
  
}