
.add-page {
    grid-area: main;
    padding: 55px 0px;
    background-color: #f6fdff;
    margin: 10px 10px 10px 0;
    border-radius: 25px;
    
}

.add-page__title {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 15px 0px 30px 0px;
    color: rgb(53, 170, 185);
    text-shadow: 1px 1px 1px black;
}

.datos-personales-container {
    width: 95%;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(53, 170, 185);
    padding: 40px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
    border-radius: 15px;
    box-shadow: 7px 6px 7px 1px #808080;
}

.datos-personales-container h2 {
    display: block;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 25px;
}

.flex-container {
    width: 100% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.flex-container__box {
    width: 100%;
    max-width: 455px;
    background-color: red;
    display: flex;
    flex-direction: column;
}

/*.label {
    width: 95%;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    
}

.input {
    width: 95%;
    padding:  12px;
    margin: auto;
    margin-bottom: 25px;
    border: none;
    border-radius: 15px;
    background-color: rgb(249, 248, 247);
    
}

.input:focus {
    outline: none;
}

*/

.obligatorio {
    color: rgb(235, 10, 10);
}

.button {
    margin: auto;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
    transition: all .4s ease; 
}

.button:hover {
    color: green;
    border-radius: 10px;  
}

@media screen and (max-width: 1200px) {
    .add-page {
        margin: 0;
        border-radius: 0;
    }
}




