
.add-page {
    grid-area: main;
}

.add-page-main {
    padding: 55px 0px;
    background-color: #f6fdff;
    margin: 10px 10px 10px 0;
    border-radius: 25px;
    color: rgba(0,0,0, .8);
}

.datos-personales-container {
    width: 95%;
    max-width: 1100px;
    margin: auto;
    padding: 35px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 15px;
    margin-bottom: 15px;
}

.datos-personales-container h1 {
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 55px;
    font-weight: 400;
    color: rgba(53, 170, 185);
}

.flex-container {
    width: 100% ;
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
}

.flex-container__box {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}

.label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.input {
    width: 100%;
    padding:  5px;
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid rgb(161, 157, 157);
    background-color: #f6fdff;
    transition: all .5s ease;
    font-size: 18px;
}

.input::placeholder {
    font-size: 16px;
    color: rgba(0,0,0, .3);
}

.input:focus {
    outline: none;
    border-color: rgba(53, 170, 185);
}

.obligatorio {
    color: rgba(235, 10, 10, .7);  
}

@media screen and (max-width: 1350px) {
    .datos-personales-container {
        max-width: 650px;
        padding: 25px;
    }

    .flex-container__box {
        max-width: 2000px;
    }
}

@media screen and (max-width: 1200px) {
    .add-page-main {
        margin: 0;
        border-radius: 0;
    }
}




