
.consulta {
    padding: 13px;
    background-color: rgba(53, 170, 185, .2);
    margin: 15px 10px;
    
}

.consulta p {
    font-size: 18px;
    border-bottom: 1px solid #f6fdff;
    padding: 5px 10px;
}