
.consulta {
    margin-top: 15px;
    width: 100%;
    border: 1px solid rgb(235,235,235);
    text-align: left;
    border-spacing: 0;
    font-size: 17px;
}
.consulta tr {
    background-color: rgb(235,235,235);
}

.consulta tr th {
    padding: 10px;
    width: 30%;
}

.consulta tr:nth-child(odd) {
    background-color: rgb(245,245,245);
}

.consulta tr td {
    padding: 10px;
    background-color: rgb(245,245,245);
}

.consulta tr:nth-child(odd) td {
    background-color: #fff;
}