
.ficha-activa {
    width: calc(100% - 255px);
    padding: 25px;
    
}

.ficha-activa-title {
    padding: 15px;
    text-align: center;
    font-size: 32px;
}

.datos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.datos-container__caja {
    border: 2px solid red;
    padding: 15px;
    min-width: 300px;  
}

.datos-container__caja p {
    font-size: 18px;
}

.datos-title {
    text-align: center;
    margin-bottom: 15px;
}

.ficha-activa-second-title {
    padding: 15px;
    text-align: center;
    font-size: 25px;
}

.consultas-container {
    background-color: aliceblue;
    padding: 30px 15px 15px 15px;
    max-width: 1300px;
    margin: auto;
}

.sin-consulta {
    margin-bottom: 15px;
    text-align: center;
    font-size: 18px;
}

.link-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.regresar {
    display: inline-block;
    border-radius: 25px;
    background-color: rgb(16, 145, 102);
    text-decoration: none;
    padding: 10px 15px;
    color: white;
}