
.ficha-activa {
    grid-area: main; 
}

.ficha-activa-container {
    padding: 55px 0px;
    margin: 10px 10px 10px 0px;
    border-radius: 25px;
    background-color: #f6fdff;
}

.ficha-activa-title {
    text-align: center;
    
    font-size: 38px;
    color: rgb(53, 170, 185);
    text-shadow: 1px 1px 1px black;
}

.datos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 20px;
}

.datos-container__caja {
    padding: 15px;
    min-width: 300px; 
     
}

.datos-container__caja p {
    font-size: 18px;
}

.datos-title {
    
    margin-bottom: 15px;
}

.ficha-activa-second-title {
    padding: 15px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.consultas-container {
    width: 95%;
    max-width: 1200px;
    margin: auto;
    padding: 10px 15px;
    background-color: #f6fdff;
    box-shadow: 1px 2px 10px -6px #808080;
    border-radius: 10px;
    margin-bottom: 10px;
}


.link-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.regresar {
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(55, 170, 185);
    text-decoration: none;
    padding: 10px 15px;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid #f6fdff;
    transition: all .3s ease;
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 25px;
}

.regresar:hover {
    background-color: rgba(55, 170, 185, .7);   
}

@media screen and (max-width: 1200px) {
    .ficha-activa {
        margin: 0;
        border-radius: 0;
        height: 100%;
    }
}

@media  screen and (max-width: 1200px) {
    .ficha-activa-container {
        margin: 0;
        border-radius: 0;
    }
}