
.ficha {
    width: 95%;
    max-width: 1000px;
    max-height: 700px;
    overflow: auto;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    padding: 50px;
    box-shadow: 1px 2px 13px -4px #111111;
    animation: modalConsulta .5s ease;
    color: rgba(0,0,0, .9);
}

.ficha-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.ficha-header button {
    padding: 10px;
    height: 26px;
    display: flex;
    align-items: center;
    border: none;
    background-color: rgb(255, 0, 0);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s ease;
}

.ficha-header button:hover {
    background-color: #fff;
    color: rgb(224, 11, 11);
    outline: 2px solid rgb(224, 11, 11);   
}

.ficha-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.ficha-info__user {
    display: flex;
    width: 200px; 
    height: 155px;
    justify-content: center;
    align-items: center;
}

.ficha-user {
    height: 60%;
    color: rgb(53, 170, 185);
}

.ficha-info__datos {
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
}

.ficha-info__datos > button {
    margin-top: 5px;
    padding: 5px 10px;
    cursor: pointer;
    align-self: flex-end;
}

.no-consultas {
    text-align: center;
    background-color: rgba(0,0,0,.1);
    padding: 7px;
}

.font-clear {
    color: rgba(0,0,0, .6);
    padding-left: 5px;
}

.ficha h3 {
    font-size: 20px;
}

.ficha-info__datos p {
    font-size: 18px;
}

@media screen and (max-width: 550px) {
    .ficha {
        padding: 50px 15px;
    }
    .ficha-info__user {
        display: none;
    }
}