
header {
    padding: 0px 35px;
    grid-area: header;
    display: flex;
    background-color: rgb(40,51,66);;
}

.header {
    font-family: cursive;
}

.header__logo-container {
    display: flex;
    align-items: center;
    height: 100%;  
}


.header__div-name {
    font-size: 14px;
    font-weight: 900;
    color: #fff;
}

.header__div-name span {
    color: rgb(255, 10, 10);
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 19px;
    font-size: 20px;
}

