
header {
    width: 100%;
    padding: 15px 35px;
    box-shadow: 0px 1px 5px 0px #9b9ea1;
    background-color: rgb(249, 248, 247);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__span-name {
    font-size: 19px;
    
}

.header__img {
    width: 40px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 19px;
    font-size: 20px;
}

