
.modal-fondo {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(53, 170, 185, .6);
    cursor: pointer;
}

.modal-fondo2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(53, 170, 185, .2);
    cursor: pointer;
}

.modal {
    width: 90%;
    max-width: 450px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    animation: modalMove .5s forwards;
    cursor: pointer;
}

@keyframes modalMove {
    0% {
        top: -100%
    }

    100% {
        top: 50%;
    }
}

.modal img {
    width: 130px;
}

.modal-p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}


/* ++++++++ Modal agregarConsulta +++++++++++  */

.fondo-agregar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(53, 170, 185, .6);
}

.modal-agregar {
    width: 95%;
    max-width: 1000px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    padding: 50px;
    box-shadow: 1px 2px 13px -4px #111111;
    animation: modalConsulta .5s ease;
}

@media screen and (max-width: 570px) {
    .modal-agregar {
        padding: 20px;
    }
}

@keyframes modalConsulta {
    0% {
        opacity: 0;
        scale: 0%;

    }
    100% {
        opacity: 1;
        scale: 100%;
    }
    
}

.modal-agregar .datos-faltantes {
    background-color: rgba(255,0,0,.9);
    padding: 10px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    animation: datosFaltantes .6s ease forwards;
}

.modal-agregar p {
    font-size: 20px;
    margin-bottom: 15px;
}

.flex-container-consulta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.flex-container-consulta h2 {
    text-align: center;
    width: 90%;
    padding-left: 10%;
    font-size: 30px;
    color: rgba(53, 170, 185, .8);
    text-shadow: 1px 1px 1px #000;
    font-weight: 400;
    margin-bottom: 20px;
}

.flex-container-consulta button {
    padding: 10px;
    height: 26px;
    display: flex;
    align-items: center;
    border: none;
    background-color: rgb(255, 0, 0);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s ease;
}

.flex-container-consulta button:hover {
    background-color: #fff;
    color: rgb(224, 11, 11);
    outline: 2px solid rgb(224, 11, 11);
    font-weight: bold;   
}

.form-modal {
    display: flex;
    flex-direction: column;
}

.form-modal input {
    border-radius: 5px;
    padding: 3px 5px;
}

.form-modal input:focus {
    border: none;
    outline: 2px solid rgb(53, 170, 185);
}

.form-modal label {
    margin-top: 15px;
    font-size: 18px;
    margin-bottom: 5px;
    
}

.form-modal textarea {
    height: 60px;
    resize: none;
    padding: 10px;
    border-radius: 5px;
    transition: height .3s ease;
    font-size: 16px;
    font-weight: 100;
}

.form-modal textarea:focus {
    outline: 2px solid rgb(53, 170, 185);
    border: none;
    height: 100px;
    background-color: rgba(170, 205, 210, 0.1);
}

.form-modal button {
    border-radius: 5px;
    margin: auto;
    margin-top: 25px;
    background-color: rgb(5, 129, 5);
    border: none;
    padding: 10px ;
    color: #fff;
    transition: all .5s ease;
    font-size: 16px;
}

.form-modal button:hover {
    cursor: pointer;
    background-color: #fff;
    color: rgb(5, 129, 5);
    outline: 1px solid rgb(5, 129, 5);
}

@keyframes datosFaltantes {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }  
}

@media screen and (max-width: 960px) {
    .form-modal textarea {
        height: 50px;
    }
}

/*  ++++++++++++ Confirmation modal +++++++++++  */


.confirmation-modal {
    width: 95%;
    max-width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 5px;
    animation: modalConsulta .4s ease-in-out;
    box-shadow: 1px 2px 13px -5px #808080;
}


.confirmation-modal p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-top: 10px;
    padding: 10px;
}

.btn-container button {
    background-color: #fff;
    width: 40px;
    padding: 3px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.btn-container button:first-child {
    background-color: rgb(12, 196, 12);
    color: #fff;
    transition: background-color .5s ease;
}
.btn-container button:first-child:hover {
    background-color: #008000;
}

.btn-container button:nth-child(2) {
    background-color: rgb(255, 0, 0);
    color: #fff;
    transition: background-color .5s ease;
}
.btn-container button:nth-child(2):hover {
    background-color: #800000;
}

