
.modal-fondo {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6);
    cursor: pointer;
}

.modal {
    width: 90%;
    max-width: 450px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    animation: modalMove .5s forwards;
    cursor: pointer;
}

@keyframes modalMove {
    0% {
        top: -100%
    }

    100% {
        top: 50%;
    }
}

.modal img {
    width: 130px;
}

.modal-p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}


.fondo-agregar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6);
}

.modal-agregar {
    width: 95%;
    max-width: 900px;
    background-color: #fff;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    

}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container h2 {
    text-align: center;
    width: 100%;
    padding-left: 40px;
}

.flex-container button {
    padding: 10px;
    height: 26px;
    display: flex;
    align-items: center;
    border: none;
    background-color: rgb(255, 0, 0);
    color: #fff;
    cursor: pointer;
}

.flex-container button:hover {
    background-color: rgb(224, 11, 11);
}

