
.pacientes-page {
    grid-area: main;
    padding: 25px;
}

.no-pacientes {
    background-color: rgb(241, 6, 6);
    padding: 15px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    max-width: 750px;
    margin: auto;
    border-radius: 5px;
}


