.second-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    border-radius: 25px;
    background-color: #fff;
    margin: 10px 10px 35px 0px; 
}


.search-title {
    text-align: center;
    margin:  15px 20px ;
    font-size: 40px;
    color: rgb(53, 170, 185);
    text-shadow: 1px 1px 1px black; 
}

.search-paragraph {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: rgb(0, 0, 0); 
}

.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    border: 2px solid #000;
    border-radius: 25px;
    overflow: hidden;
}

.search-form input {
    width: 300px;
    border: none;
    border-right: 2px solid #000;
    background-color: #fff;
}

.search-form input::placeholder {
    color: #000;
}

.search-patient {
    padding: 5px 10px;
    width: 250px;
}

.container-search {
    border-left: 0px;
    padding: 5px 10px;
}

.search-form:focus-within {
    border-color: rgb(53, 170, 185);
}

.search-form input:focus {
    border-right-color: rgb(53, 170, 185);
    outline: 0 none;
}

.container-search img {
    width: 18px;
    height: 15px;
}


@media screen and (max-width: 1200px) {
    .second-header {
        margin: 0px 0px 15px 0px;
        border-radius: 0;
    }
}