.second-header {
    padding: 55px 0px;
    min-height: 50vh;
    margin-bottom: 55px;
    background-color: rgb(249, 248, 247);
}


.search-title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 50px;
}

.search-paragraph {
    text-align: center;
    font-size: 1.3rem;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.search-patient {
    padding: 5px 10px;
    width: 250px;
}

.container-search {
    border: 1px solid rgb(5, 5, 5);
    padding: 5px 10px;
}


.container-search img {
    width: 18px;
    height: 15px;

}