
.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
   
}

.link {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    gap: 20px;
    font-size: 19px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}

.link img {
    width: 25px;
    
}


.link:hover {
    background-color: rgb(53, 170, 185);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 1200px) {
    .sidebar {
        flex-direction: row;
        padding: 0;
        justify-content: center;
    }

    .link:hover {
        background-color: inherit;
        color: #000;
    }
}





