
.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    background-color: rgb(40,51,66);
    min-height: calc(100vh - 70px);
}

.admin {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
    color: #fff;
}
.admin img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.link {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    gap: 20px;
    font-size: 19px;
    text-decoration: none;
    color: #fff; 
}

.font-icon {
    width: 25px; 
}


.link-activo {
    background-color: rgb(53, 170, 185);
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 1200px) {
    .sidebar {
        min-height: auto;
    }
    .admin {
        display: none;
    }
    .sidebar {
        flex-direction: row;
        padding: 0;
        justify-content: center;
    }
    .link-activo {
        background-color: rgb(40,51,66);
        color: #fff;
    }
}

@media screen and (max-width: 1450px) {
    .admin > p {
        font-size: 14px;
    }
    .link {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    .link {
        font-size: 14px;
        gap: 5px;
    }
}





